
<h1>Clients#testFunc</h1>
<p>Find me in app/views/clients/testFunc.html.erb</p>

<div id="renderer">
  <p>
    Here will be your React components
  </p>
</div>


<%= javascript_include_tag('manifests/clients') %>
